.Card {
  margin: 2rem 0 2rem 0;
  height: 25rem;
  width: 20rem;
  background: #f5cba7;
  border-radius: 1rem;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.Card-title {
  padding-top: 1rem;
  font-weight: bold;
}
