.Card {
  height: 100%; 
  width: 20vw;
  border-radius: 1rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
}

.Card-title {
  padding-top: 1rem;
  font-weight: bold;
}

.Card-content {
  margin: 1rem;
}

@media (max-width: 820px) {
  .Card {
    height: 25vh;
    width: 95vw;
  }
}
