.Card {
  margin: 2rem 0 2rem 0;
  min-height: 20rem;
  min-width: 15rem;
  height: 37.5vh;
  width: 20vw;
  background: #f5cba7;
  border-radius: 1rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 820px) {
  .Card {
    width: 95vw;
  }
}

.Card-title {
  padding-top: 1rem;
  font-weight: bold;
}
