.CommitCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  height: 10vh;
  width: 20vw;
  max-width: 20rem;
  background-color: #73c6b6;
  border-radius: 1rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all ease 0.5s;
}

.CommitCard:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.CommitCard-active {
  transform: scale(1.1);
  background-color: #fef9e7;
}

@media (max-width: 820px) {
  .CommitCard {
    margin: 1rem 1rem;
  }
}

.CommitCard-user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: left;
}

.CommitCard img {
  padding: 0 0.5rem;
  max-width: 2rem;
  border-radius: 50%;
}
