.History-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 40vh 40vh;
  grid-row-gap: 5vh;
  grid-template-areas:
    'timeline code info-card'
    'timeline code changes-card';
}

.History-timeline {
  grid-area: timeline;
}

.History-code {
  grid-area: code;
  display: flex;
  justify-content: center;
  align-items: center;
}

.History-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.History-changes-card {
  grid-area: changes-card;
}

.History-info-card {
  grid-area: info-card;
}

@media (max-width: 820px) {
  .History-container {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-row-gap: 2vh;
    grid-template-areas:
      'timeline'
      'code';
    margin-bottom: 3rem;
  }
  .History-changes-card {
    display: none;
  }

  .History-info-card {
    display: none;
  }
}
