.History-container {
  display: grid;
  grid-template-areas: 'timeline code cards';

  /* TODO: Verifiy is necessary
  grid-auto-columns: 1fr;
  margin: 0 1rem 0 1rem;
  */
}

@media (max-width: 820px) {
  .History-container {
    grid-template-areas:
      'timeline'
      'code '
      'cards';
  }

  .History-code {
    width: 100vw;
  }
}

.History-code {
  grid-area: code;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.History-cards {
  grid-area: cards;
  display: flex;
  flex-direction: column;
  align-items: center;
}
