.Stats {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.Stats > canvas {
  max-height: 50rem;
  max-width: 100rem;
}

@media (max-width: 500px) {
  .Stats {
    min-height: 20rem;
    height: 40vh;
  }
}
