.Stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Stats > h1 {
  font-size: 3rem;
  font-weight: bold;
}

.Stats > canvas {
  max-width: 60rem;
  max-height: 30rem;
}
