.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: 'Roboto', monospace;
  text-align: center;
}

.Footer-line {
  border: none;
  background-color: #e5e7e9;
  height: 0.1rem;
  margin: 1rem 10%;
}

.Footer-link {
  font-weight: bold;
}
