.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: 'Roboto', monospace;
}

@media (min-height: 100px) {
  .Footer {
    position: relative;
  }
}

.Footer-line {
  border: none;
  background-color: #e5e7e9;
  height: 0.1rem;
  margin: 1rem 5rem;
}

.Footer-link {
  font-weight: bold;
}
