.Header {
  padding: 1em;
}

.Header-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.Header-element {
  padding: 0 3rem;
}

.Header-link {
  font-size: 1.2rem;
}

.Header-element > .Header-link::after {
  content: '';
  display: block;
  width: 0;
  padding-top: 0.5rem;
  border-bottom: 0.1rem solid #f8c471;
  transition: 0.5s;
}

.Header-element > .Header-link:hover::after {
  width: 100%;
}
