.Header {
  padding: 0.3rem 0 0.05rem 0;
  margin: 1rem auto 5rem auto;
  width: 45rem;
  background: linear-gradient(#56ccf2, #25a5ed);
  border-radius: 1.2rem;
}

@media (max-width: 820px) {
  .Header {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
}

@media (max-width: 630px) {
  .Header {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
}

.Header-container {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.Header-element {
  padding: 0 2rem;
}

.Header-link {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.Header-element > .Header-link::after {
  content: '';
  display: block;
  width: 0;
  padding-top: 0.5rem;
  border-bottom: 0.1rem solid #f8c471;
  transition: 0.5s;
}

.Header-element > .Header-link:hover::after {
  width: 100%;
}
