.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Search-title {
  font-size: 5rem;
}

.Search input {
  margin: 2rem;
  border-radius: 1rem;
  width: 50rem;
  height: 3rem;
}
