.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.Search-title {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 6rem;
  font-weight: bold;
}

.Search-title:after {
  display: block;
  content: '';
  height: 0.5rem;
  margin-top: -0.1rem;
  border-radius: 1rem;
  background-color: #36d78a;
}

.Search input {
  margin: 5rem 2rem 2rem 2rem;
  border-radius: 1rem;
  width: 50rem;
  height: 3rem;
}

.Search button {
  margin: 1rem;
}

.Search-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

@media (max-width: 820px) {
  .Search input {
    width: 80%;
  }
}
